body {
    background-color: rgb(230, 227, 188);
}

h1 {
    text-align: center;
    margin: 0px;
    background-image: url("Képek/magyar zászló.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#eleje span{
    text-shadow: 0px 0px 10px white;
}

div.ido div.resz p {
    padding-right: 15px;
}

hr {
    width: 50%;
    height: 4px;
    align: center;
    background-color: black;
    border: 0px;
}


div.resz2 hr {
    width: 1%;
    height: 4px;
    align: center;
    background-color: black;
    border: 0px;
}

.fomenu {
    border: 3px solid black;
    width: 100%;
}

.menu {
    padding-top: 0px;
    padding-left: 0px;
    border-left: black 3px solid;
    width: 20%;
    height: 150px;
    font-weight: 900;
    font-size: large;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.linkmenu {
    background-color: rgb(0, 0, 0);
    border: black 3px;
}

h2 {
    padding-left: 3%;
    text-decoration: rgb(160, 15, 15) underline;
}

div.resz {
    padding-left: 5%;
    border-color: black;
}

div.hely {
    background-image: url("képek/hely/budapest.png");
    background-attachment: fixed;
    background-size: 100% 50%;
    margin-bottom: 50px;
}


td.menu a:link {color:rgb(230, 227, 188)}
td.menu a:visited {color:rgb(230, 227, 188)}
td.menu a:active {color: white}
td.menu a:hover {color: white;}

a:link {text-decoration: none;
        color: rgb(160, 15, 15);}
a:visited {color: rgb(160, 15, 15);}
a:active {color: white}
a:hover {color: white;}

table.hely {
    border: black 0px solid;
    width: 90%;
    background: rgb(210, 176, 141);
    margin-bottom: 3%;
}

td.szoveg {
    border-left: rgb(160, 15, 15) 10px solid;
    padding-left: 5px;
    padding-bottom: 5px;
}

table.hely img {
    width: 100%;
}

table.alak {
    border: black 0px solid;
    width: 90%;
    background: rgb(210, 176, 141);
    margin-bottom: 10px;
}

table.alak td.kep {
    width: 20%;
    vertical-align: middle;
}

table.alak td.nev {
    font-weight: 800;
    font-size: larger;
    font-style: italic;
}

table.alak td.szoveg {
    border-left: rgb(160, 15, 15) 10px solid;
    padding-left: 5px;
    text-indent: 15px;
    text-align: justify;
    vertical-align: middle;
}

table.alak td.kep img {
    width: 100%;
}

#hely {
    background-color: rgb(210, 176, 141);
    padding-top: 10px;
    padding-bottom: 10px;
}

div.ido {
    background-color: rgb(255, 255, 255);
}

div.ido div.resz img {
    width: 98%;
}

div.ido div.resz span {
    font-weight: 700;
    font-size: large;
}

h4 {
    font-size: x-large;
    font-weight: 800;
    font-style: italic;
    text-indent: -10px;
}

table.ido td {
    padding-top: 15px;
    vertical-align: top;
}

div.resz2 h5.cim {
    font-size: larger;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 40px;
}

div.resz2 {
    padding-left: 5%;
    border-color: black;
}

div.resz2 p {
    font-style: italic;
    padding-left: 15px;
    margin-top: -15px;
    border-left: rgb(160, 15, 15) 10px solid;
}

